<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MJCC Info</title>
    <link rel="stylesheet" href="../static/mjcc-page.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
</head>

<body class="container">
<img class="bannerimage" height="400" width="1500" src="../static/megilla.jpg" alt="MJCC banner">

<h1>Manchester Jewish Community Centre</h1>

<h2>Our opening hours</h2>
<table>
    <tr><th>Sunday</th><td>9am - 5pm</td></tr>
    <tr><th>Monday</th><td>9am - 5pm</td></tr>
    <tr><th>Tuesday</th><td>9am - 5pm</td></tr>
    <tr><th>Wednesday</th><td>9am - 5pm</td></tr>
    <tr><th>Thursday</th><td>9am - 5pm</td></tr>
    <tr><th>Friday</th><td>9am - 5pm</td></tr>
</table>

<h2>How to find us</h2>
<div class="screen-wrapper">
    <iframe
            height="400"
            src="https://www.openstreetmap.org/export/embed.html?bbox=-2.25754595710896%2C53.51739050784295%2C-2.254021534463391%2C53.518785921337056&amp;layer=mapnik"
            style="border: 1px solid lightgray;">
    </iframe>
</div>
<br/>
<small>
        <a href="https://www.openstreetmap.org/#map=19/53.51809/-2.25578">Open Larger Map and Get Directions</a>
</small>
</body>
</html>